@import url('ttps://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    animation: animation1 2s;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}
#nav-bar {
    background-color: rgb(255, 253, 255);
    position: fixed;
    width: 1600px;
}

h5 {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 40px;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: black;
}

h3 {
    font-size: 30px;
}

#color-change {
    animation: color-change 5s ;
}

#bp {
    color: white;
}

#button1{
    width: 200px;
    
}

h4 {
    font-size: 60px;
}

@keyframes color-change {
    0% {
        color: black;
    }
    25% {
        color: red;
    }
    50% {
        color: yellow;
    }
    75% {
        color: blue;
    }
    100% {
        color: black;
    }
}